body {
    text-align: center;
}

#welcome {
    font: Georgia;
    background: linear-gradient(blue 0%, green 100%);
}

#name {
    font-family: cursive;
    font: Times New Roman;

}

.heading {
    font-size: 50px;
    color: red;
    margin: 8px auto;
}

.line {
    height: 8px;
    width: 80px;
    background-color: black;
    margin: 8px auto;
}

p {
    margin: 25px auto;
    text-align: center;
    color: royalblue;
    line-height: 1.3;
    width: 450px;
}
